.movie-list{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;

}

.spi{    
    margin-left: 700px;
    margin-top: 300px;
}

.movie{
    width: 300px;
    height: 300px;
}

.pic{
    width: 300px;
    height: 300px;
}